header{
    background: $white;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(5, 5, 5, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(5, 5, 5, 0.05);
    width: 100%;
    padding: 9px 0;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);  
    z-index: 10;  
    .di-block{
        @include valign-middle();

        &.brand-logo{
            @include pos-relative();
            text-align: left;           
            .thumbnail{                
                @include di-block();
                @include valign-middle(); 
                @include pos-relative();
                
                &:first-child{    
                    padding-right: 10px; 
                    margin-right: 10px;            
                    // &::after{
                    //     content: "";
                    //     background: $black-gray;
                    //     width: 1px;
                    //     height: 64px;
                    //     position: absolute;
                    //     right: 0;
                    //     top: 50%;
                    //     margin-top: -28px;
                    // }
                }
    
                a,img{
                    @include di-block();
                    @include valign-middle();                
                }
            }
        }
        
        &.navmenu{ 
            text-align: right;
            @include cf();
            .hamburger{ display: none; }
            .menu{
                @include unordered-list();
                // width: calc(100% - 160px);
                @include di-block();
                @include valign-middle();

                li{
                    
                    @include di-block();
                    @include valign-middle();
                    margin: 0 10px;
                    &:last-child{ margin-right: 0;}
                    a.nav-link{
                        color: $blue;
                        text-align: left;
                        display: block;
                        padding: 5px;
                    }
                    .btn-dwnld{
                        color: $blue;
                        border: 2px solid $blue;
                        padding: 5px 5px;
                        width: 160px;
                        height: 40px;
                        @include border-box();
                        text-transform: capitalize;
                        text-align: center;
                        @include di-block();
                        @include valign-middle();
        
                    }
                }
            }
            ul.right{
                @include unordered-list();
                @include di-block();
                @include valign-middle();
                width: 160px;
                li{
                    @include di-block();
                    @include valign-middle();
                    .btn-dwnld{
                        color: $blue;
                        border: 2px solid $blue;
                        padding: 5px 5px;
                        width: 160px;
                        height: 40px;
                        @include border-box();
                        text-transform: capitalize;
                        text-align: center;
                        @include di-block();
                        @include valign-middle();
        
                    }
                }

            }
           

        }
        
        
    }
}


@media screen and (max-width:991px) {

    header{
        padding: 12px 0;
        z-index: 11;
        .di-block{
            &.brand-logo{
                width: 80%;
                .thumbnail{
                    width: 175px;
                }
            }

            &.navmenu{ 
                width: 20%;
                .hamburger{ 
                    display: inline-block;                     
                            position: relative;
                            cursor: pointer;
                            z-index: 12399994;
                            width: 40px;
                            height: 30px;
                            margin-top: 6px;
                    
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: 0;                                
                                height: 18px;
                                width: 40px;
                                border-top: 1px solid $black;
                                border-bottom: 1px solid $black;                                
                                margin-top: -9px;
                                
                            }
                    
                            &:before {
                                content: '';                                
                                background: $black;
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                height: 1px;
                                width: 25px;
                                -webkit-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                transition: all .3s ease;
                            }
                    
                    
                        &.menu-opened{
                            &::after {
                                background: $black;
                                border: 0;
                                top: 24px;
                                height: 1px;
                                width: 40px;
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                                -webkit-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                transition: all .3s ease;
                            }
                            &::before {
                                background: $black;
                                top: 15px;                                
                                width: 40px;
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }

                        }
                }
                .menu{
                    display: none;
                    &.menu-opened {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: auto;
                        background: $white;
                        height: 170px;
                        top: 78px;
                        width: 100%;
                        li{
                            display: block;                            
                            margin: 10px 15px;
                            &:last-child{
                                margin: 0 15px;
                            }
                            .btn-dwnld{
                                width: 100%;
                                margin: 0;
                            }
                        }
                    }
                }
            }

        }
    }

    
}

@media screen and (max-width:767px) {
}
