header{
    background: $white;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(5, 5, 5, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(5, 5, 5, 0.05);
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);  
    z-index: 10;  
    .di-block{
        @include valign-middle();

        &.brand-logo{
            @include pos-relative();
            text-align: left;           
            .thumbnail{                
                @include di-block();
                @include valign-middle(); 
                @include pos-relative();
                
                &:first-child{    
                    padding-right: 20px; 
                    margin-right: 20px;            
                    &::after{
                        content: "";
                        background: $black;
                        width: 2px;
                        height: 40px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -20px;
                    }
                }
    
                a,img{
                    @include di-block();
                    @include valign-middle();                
                }
            }
        }
        
        &.navmenu{ 
            text-align: right;
            @include cf();
            .hamburger{ display: none; }
            .menu{
                @include unordered-list();
                // width: calc(100% - 160px);
                @include di-block();
                @include valign-middle();

                li{
                    
                    @include di-block();
                    @include valign-middle();
                    margin: 0 10px;
                    &:last-child{ margin-right: 0;}
                    a.nav-link{
                        color: $blue;
                        text-align: left;
                        display: block;
                        padding: 5px;
                    }
                    .btn-dwnld{
                        color: $blue;
                        border: 2px solid $blue;
                        padding: 5px 5px;
                        width: 160px;
                        height: 40px;
                        @include border-box();
                        text-transform: capitalize;
                        text-align: center;
                        @include di-block();
                        @include valign-middle();
        
                    }
                }
            }
            ul.right{
                @include unordered-list();
                @include di-block();
                @include valign-middle();
                width: 160px;
                li{
                    @include di-block();
                    @include valign-middle();
                    .btn-dwnld{
                        color: $blue;
                        border: 2px solid $blue;
                        padding: 5px 5px;
                        width: 160px;
                        height: 40px;
                        @include border-box();
                        text-transform: capitalize;
                        text-align: center;
                        @include di-block();
                        @include valign-middle();
        
                    }
                }

            }
           

        }
        
        
    }
}


@media screen and (max-width:767px) {

    header{
        .di-block{

            &.navmenu{ 
                .hamburger{ display: block; }
                .menu{
                    display: none;
                }
            }

        }
    }

    
}